<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping List App</title>
  <!-- User Events, Vue Methods, Conditional Rendering, Attribute Bindings, Dynamic Classes, Computed Properties-->
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="shopping-list" class="shopping-list">
    <div class="shopping-list__header">
      <h1 class="shopping-list__header__title">{{header.toLocaleUpperCase()}}</h1>
      <button v-if="state === 'default'" class="shopping-list__header__add" @click="changeState('edit')">Add Item</button>
      <button v-else class="shopping-list__header__cancel" @click="changeState('default')">Cancel</button>
    </div>
    <div v-if="state === 'edit'" class="shopping-list__add-item-form">
      <!-- <input v-model="newItem" type="text" placeholder="Add an item" v-on:keyup.enter="items.push(newItem)"> -->
      <input class="shopping-list__add-item-form__input" v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
      <!-- <p>{{characterCount}}/200</p> -->
      <!-- <button class="btn btn-primary" v-on:click="items.push(newItem)">Save Item</button> -->
      <!-- <button class="btn btn-primary" v-bind:disabled="newItem.length === 0" @click="saveItem">Save Item</button> -->
      <button class="shopping-list__add-item-form__save" :disabled="newItem.length === 0" @click="saveItem">Save Item</button>
    </div>
    <!-- <a v-bind:href="newItem" target="_blank">Dynamic Link</a> -->
    <ul class="shopping-list__items">
      <!-- <li v-for="item in items">{{ item }}</li> -->
      <!-- <li v-for="item in items" :class="{strikeout: item.purchased}">{{ item.label }}</li> -->
      <!-- <li v-for="item in items" :class="[item.purchased ? 'strikeout' : '', item.highPriority ? 'priority': '']">{{ item.label }}</li> -->
      <!-- <li v-for="item in items" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{ item.label }}</li> -->
      <li class="shopping-list__items__item" v-for="item in reversedItems" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">📍 {{ item.label }}</li>
    </ul>
    <p class="shopping-list__text" v-if="items.length === 0">Nice job! You've bought all your items. 🎉</p>
  </div>
</body>
  <script src="https://unpkg.com/vue"></script>
  <script>
    var shoppingList = new Vue({
      el: '#shopping-list',
      data: {
        state: 'default',
        header: 'shopping list app',
        newItem: '',
        items: [
          {
            label: '10 party hats',
            purchased: false,
            highPriority: false,
          },
          {
            label: '2 board game',
            purchased: true,
            highPriority: false,
          },
          {
            label: '20 cups',
            purchased: false,
            highPriority: true,
          },
          // '10 party hats',
          // '2 board games',
          // '20 cups',
        ]
      },
      computed: {
        // characterCount() {
        //   return this.newItem.length;
        // }
        reversedItems() {
          return this.items.slice(0).reverse();
        }
      },
      methods: {
        saveItem: function() {
          // this.items.push(this.newItem);
          this.items.push({
            label: this.newItem,
            purchased: false,
          },);
          this.newItem = '';
        },
        changeState: function(newState) {
          this.state = newState;

          this.newItem = '';
        },
        togglePurchased: function(item) {
          item.purchased = !item.purchased;
        }
      }
    });
  </script>
</html>